*{
    margin: 0;
    padding: 0;
}

body{    
    overflow-x: hidden;
    color: white;
    background:#161513;
    font-family: 'outfit';
    scroll-behavior: smooth;
  
}
a{
    text-decoration: none;
    color: white;
    font-family: 'outfit';
}
